
	


 /*========================= Search Glass to X =========================

 	.navBurger{
		width: 35px;
		height: 35px;
		border: #666 solid 2px;
		background: none;
		position: relative;
		margin:25px auto;
	}
	.navBurger span {
		height: 3px;
		width: 15px;
		top: 22px;
		position: absolute;
		margin: 0 3px;
		border: 2px solid #666;
		left: 12px;
	}
	.navBurger span:nth-child(1){
		transition:			0.4s;
		background: #666;
		transform:		rotate(45deg);
	}
	.navBurger span.active:nth-child(1){
		height:2px;
		width:25px;
		top:15px;
		left:1px;
		background: #FFF;
		transition: all 0.4s ease-in-out;
		transition:	0.4s;
		transform: rotate(315deg);

	}
	.navBurger span:nth-child(2) {
		height: 17px;
		width: 17px;
		top: 2px;
		background: #FFF;
		border-radius: 50%;
		transition: 0.4s;
		transform: rotate(45deg);
		left: -1px;
	}
	.navBurger span.active:nth-child(2){
		height:2px;
		width:25px;
		background: #666;
		border-radius:0;
		top:15px;
		left: 1px;
		transform: rotate(405deg);
		transition: all 0.4s ease-in-out;
	}
	.navBurger span:nth-child(3) {
		display: none;
	}*/


/* ========================= Three patty bounce to X =========================
	

	@keyframes firstPattyDown{

		0%		{	top:5px;  transform:rotate(0deg); }
		50%		{	top:26px; transform:rotate(0deg); }
		75%		{	top:20px; transform:rotate(0deg); }
		100%	{	top:15px; transform:rotate(45deg);}

	}
	@keyframes secondPattyDown{

		0%		{	top:13px;  transform:rotate(0deg); }
		50%		{	top:26px; transform:rotate(0deg); }
		75%		{	top:20px; transform:rotate(0deg); }
		100%	{	top:15px; transform:rotate(-45deg);}

	}
	@keyframes thirdPattyDown{

		0%		{	top:21px;  transform:rotate(0deg); }
		50%		{	top:26px; transform:rotate(0deg); }
		75%		{	top:20px; transform:rotate(0deg); }
		100%	{	top:15px; transform:rotate(-45deg);}

	}
	@keyframes firstPattyUp{
		0%		{	top:15px; transform:rotate(45deg);}
		100%	{	top: 5px; transform:rotate( 0deg);}
	}
	@keyframes secondPattyUp{
		0%		{	top:15px; transform:rotate(-45deg);}
		100%	{	top:13px; transform:rotate( 0deg);}
	}
	@keyframes thirdPattyUp{
		0%		{	top:15px; transform:rotate(-45deg);}
		100%	{	top:21px; transform:rotate( 0deg);}
	}
	.navBurger{
		width: 35px;
		height: 29px;
		border: #666 solid 2px;
		background: none;
		position: relative;
		margin:25px auto;
	}
	.navBurger span {
		height: 3px;
		width: 29px;
		top: 22px;
		position: absolute;
		margin: 0 3px;
		background: #666;
		border: none;
		left: 0px;
	}

	.navBurger span:nth-child(1){
		top: 5px;
		transform: rotate(0deg);
		animation-name: firstPattyUp;
		animation-duration: 0.3s;
	}
	.navBurger span:nth-child(2){
		top: 13px;	
		transform: rotate(0deg);
		animation-name: secondPattyUp;
		animation-duration: 0.3s;
	}
	.navBurger span:nth-child(3){
		top: 21px;
		transform: rotate(0deg);
		animation-name: thirdPattyUp;
		animation-duration: 0.3s;
		
	}
	.navBurger span.active:nth-child(1){
		animation-name: firstPattyDown;
		animation-duration: 0.8s;
		top:15px;
		transform: rotate(45deg);
	}
	.navBurger span.active:nth-child(2){
		animation-name: secondPattyDown;
		animation-duration: 0.8s;
		top:15px;
		transform: rotate(-45deg);
	}
	.navBurger span.active:nth-child(3){
		animation-name: thirdPattyDown;
		animation-duration: 0.8s;
		top:15px;
		transform: rotate(-45deg);
	}
*/